body{
  padding:0;
  margin:0;
  overflow-x: hidden;
}
.Main{
  bordeR:0px solid black;
  padding:10px;
  display: flex;
  flex-direction: column;
  width:100%;
}
.Expence_traker{
  border:0px solid black;
  width:80%;
  margin: auto;
}
.Expence_traker h1{
  text-align: center;
  font-weight: 900;
  color:rgb(255, 0, 0);
}
.name{
  display: flex;
  flex-direction: column;
  padding:10px;
}
.name input{
  padding:6px 10px;
  border-radius: .5rem;
  outline:none;
  box-shadow: 1px 1px 2px rgb(50, 50, 50);
  border:none;
  font-size: 1.1rem;
}
.name label{
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 5px 0;
}
.Amount{
  display: flex;
  flex-direction: column;
  padding:10px;
}
.Amount input{
  padding:6px 10px;
  border-radius: .5rem;
  outline:none;
  box-shadow: 1px 1px 2px rgb(50, 50, 50);
  border:none;
  font-size: 1.1rem;
}
.Amount label{
  font-size: 1.3rem;
  text-transform: capitalize;
  margin: 5px 0;
}
.btn {
  display: flex;
  justify-content: flex-start;
  margin:10px;
}
.btn .btn1{
  width:20%;
  background: green;
  outline: none;
  border:none;
  margin:0 10px;
  padding:5px;
  border-radius: .5rem;
  cursor: pointer;
  color:wheat;
}
.btn .btn2{
  width:20%;
  background: rgb(255, 102, 0);
  outline: none;
  border:none;
  padding:5px;
  border-radius: .5rem;
  cursor: pointer;
  color:white;
}
.btn .btn1:hover{
  background: yellow;
  color:black;
}
.btn .btn2:hover{
  background: rgb(255, 0, 0);
  color:rgb(0, 0, 0);
}
.btn .btn1:active{
  background: yellow;
  color:black;
  outline:1px solid yellow;
}
.btn .btn2:active{
  background: rgb(255, 0, 0);
  color:rgb(0, 0, 0);
  outline: 1px solid red;
}
.TrackExpence{
  display: flex;
  flex-direction: column;
  width:80%;
  margin: 30px auto;
  border:0px solid black;
  box-shadow: 1px 1px 4px rgb(0, 0, 0);
  border-radius: .6rem;
}
.track_1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.track_1 .track_2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.track_1 .track_2 h2{
  font-size: 1rem;
  padding:5px;
  margin-right:5px;
}
.track_1 .track_2 p{
  font-size: .9rem;
  text-transform:capitalize;
}
.track_1 button{
   padding: 0 7px;
   background: transparent;
   cursor: pointer;
   outline: none;
   border:none;
   padding:0 6px;
}
.track_1 button:active{
color:red;
font-size: 10px;
}